<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <script defer src="js/vue.js"></script>
    <script defer src="js/main.js"></script>
    <title>Kanban Board</title>
</head>
<body>
    <div id="app">
    <h1>Kanban доска</h1>
    <div class="columns">
        <div class="column">
            <h2>Запланированные ({{ column1.length }})</h2>
            <kanban-card 
            v-for="card in column1" 
            :key="card.id" 
            :card="card">
            </kanban-card>
        </div>
    </div>
        </div>
        <div class="column">
            <h2>В работе ({{ column2.length }})</h2>
            <kanban-card 
            v-for="card in column2" 
            :key="card.id" 
            :card="card">
            </kanban-card>
        </div>
        <div class="column">
            <h2>Тестрование ({{ column3.length }})</h2>
            <kanban-card 
            v-for="card in column3" 
            :key="card.id" 
            :card="card">
            </kanban-card>
        </div>
        <div class="column">
            <h2>Выполненные ({{ column4.length }})</h2>
            <kanban-card 
            v-for="card in column4" 
            :key="card.id" 
            :card="card">
            </kanban-card>
        </div>
    </div>
</div>
</body>
</html>